/* sidebar */
.block-sidebar__title {
  padding: 0 0 12px;
  font-weight: var(--font-heading-weight);
  font-family: var(--font-heading-family);
  font-size: calc(var(--font-size-heading) - 5px);
  color: var(--heading-color-light);
  position: relative; }
  .block-sidebar__title:before {
    content: "";
    width: 20px;
    border-top: 3px solid #78b7c6;
    position: absolute;
    left: 0;
    bottom: 0; }
  .block-sidebar__title svg {
    transition: all .3s ease; }
  .block-sidebar__title.collapsed svg {
    transform: rotate(180deg); }

.btn-sidebar svg {
  width: 20px; }

.btn-sidebar--open {
  top: 35%;
  box-shadow: var(--shadow);
  background: #000;
  color: #fff;
  margin-left: -30px;
  padding: 15px 7px; }
  .btn-sidebar--open svg {
    width: 16px;
    height: 12px;
    display: block; }
  .btn-sidebar--open:focus, .btn-sidebar--open:hover, .btn-sidebar--open:visited {
    color: #fff; }

.btn-sidebar.sidebar_right {
  top: -15px;
  right: -20px; }

.btn-sidebar.sidebar_left {
  top: -15px;
  left: -20px; }

.blog-sidebar.offcanvas {
  z-index: 2; }
  .blog-sidebar.offcanvas.show {
    z-index: 4; }

#sidebar_left .btn-sidebar--open {
  right: 0;
  margin-right: -30px;
  border-radius: 0 5px 5px 0; }
  #sidebar_left .btn-sidebar--open svg {
    transform: rotate(-90deg); }

#sidebar_left.show > .btn-sidebar--open svg {
  transform: rotate(90deg); }

#sidebar_right .btn-sidebar--open {
  left: 0;
  margin-left: -30px;
  border-radius: 5px 0 0 5px; }
  #sidebar_right .btn-sidebar--open svg {
    transform: rotate(90deg); }

#sidebar_right.show > .btn-sidebar--open svg {
  transform: rotate(-90deg); }

@media (max-width: 1199.98px) {
  .offcanvas .offcanvas-body {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12); } }

/*** blog search __________*/
.blog-search__form {
  position: relative; }

.blog-search__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 44px;
  padding: 0;
  line-height: 42px;
  border-radius: 0 0 0 0;
  background-color: #000;
  transition: color .3s ease; }
  .blog-search__btn:hover {
    color: var(--primary); }

/*** Blog categories ______*/
.sidebarBlogCateItem {
  position: relative; }
  .sidebarBlogCateItem .arrow {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: var(--color-link); }
    .sidebarBlogCateItem .arrow svg {
      width: 15px;
      opacity: .5;
      transform: rotate(180deg); }
    .sidebarBlogCateItem .arrow.collapsed svg {
      transform: rotate(0); }
    .sidebarBlogCateItem .arrow:hover {
      color: var(--color-link-hover); }
  .sidebarBlogCateItem a {
    display: block;
    padding: 5px 0 5px 20px;
    color: var(--color-link);
    line-height: 20px;
    text-decoration: none;
    line-height: 26px; }
    .sidebarBlogCateItem a:before {
      content: '';
      position: absolute;
      top: 15px;
      left: 0;
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: var(--color-link);
      transition: all 0.45s ease; }
    .sidebarBlogCateItem a:hover, .sidebarBlogCateItem a:focus {
      color: var(--color-link-hover); }
      .sidebarBlogCateItem a:hover:before, .sidebarBlogCateItem a:focus:before {
        background-color: var(--color-link-hover); }
  .sidebarBlogCateItem > div {
    padding-left: 15px; }
    .sidebarBlogCateItem > div .sidebarCateItem {
      border-bottom: 0; }

/*** Blog related ________*/
.related-artibles__content.block-sidebar__content {
  padding: 10px 0 0; }

.related-artibles {
  position: relative;
  margin: 0 0 50px;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .related-artibles {
      margin: 0 0 30px; } }

.related-artibles__list {
  padding: 0;
  list-style: none; }

.related-artibles__card-image {
  padding-right: 20px;
  width: 90px; }

.related-artibles__card-content {
  width: calc(100% - 90px); }
  .related-artibles__card-content a {
    display: block;
    margin: 0 0 5px;
    font-size: calc(var(--font-size-base) + 1px);
    font-weight: 700;
    line-height: 20px;
    transition: color .3s ease; }
    .related-artibles__card-content a:hover, .related-artibles__card-content a:focus {
      color: var(--primary);
      text-decoration: none; }
  .related-artibles__card-content time {
    font-size: 11px;
    display: block;
    margin-top: -3px; }

/****  Block-tags_____*/
.blog-tags__list {
  margin: 0 -4px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap; }

.blog-tags__item {
  padding: 4px; }
  .blog-tags__item a {
    display: block;
    margin-bottom: 8px;
    padding: 4px 10px;
    color: var(--body-color);
    font-size: var(--font-size-base);
    text-decoration: none;
    background-color: #f5f5f5;
    border-radius: 3px;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease; }
    .blog-tags__item a:hover {
      color: #fff;
      background: var(--primary); }
